.background{
    position: absolute;
    width: 100%;
    top: calc(var(--height-first-header) + 1.1rem);
    height: calc(100vh - var(--height-first-header) - 2.1rem);
    background-color: rgba(0,0,0, 0.5);
    z-index: 999;
}
