.editorContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--color-gray-800);
    margin-top: 1rem;
    border-radius: 0.3rem;
}

.editorContainer > :first-child{
    flex:1;
}

.editorContainer > :nth-child{
    flex:0;
}

.editorContainerButton{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0.3rem 0.2rem;
}

.editorContainerButton > :first-child{
    flex: 1;
}
.editorContainerButton > :nth-child{
    flex: 0;
}

.buttonApply{
    width: 4rem;
    margin: 0.2rem;
    background-color: var(--color-accent-300);
    border : 1px solid var(--color-accent-300);
    border-radius: 0.2rem;
    color: var(--color-gray-100);
}

.buttonApply:hover{
    width: 4rem;
    margin: 0.2rem;
    cursor: pointer;
    background-color: var(--color-accent-150);
    border : 1px solid var(--color-accent-150);
    color: var(--color-gray-000);
}

.buttonApply:active{
    cursor: pointer;
    background-color: var(--color-accent-450);
    border : 1px solid var(--color-accent-450);
    color: var(--color-gray-200);
}

.buttonCancel{
    width: 4rem;
    margin: 0.2rem;
    background-color: var(--color-red-350);
    border : 1px solid var(--color-red-350);
    border-radius: 0.2rem;
    color : var(--color-gray-100)
}

.buttonCancel:hover{
    background-color: var(--color-red-250);
    border : 1px solid var(--color-red-250);
    color : var(--color-gray-000)
}

.buttonCancel:active{
    background-color: var(--color-red-600);
    border : 1px solid var(--color-red-600);
    color : var(--color-gray-200)
}
