.modalOpenContainer {
    position: relative;
}

.DefaultCommentContainer{
    margin-left: 0.5rem;
    border-left: 1px solid var(--color-gray-700);
    padding-bottom: 10px;
}

.username{
    font-weight: bold;
    font-size: 0.85rem;
}
.date{
    color: var(--color-gray-400);
    font-size: 0.8rem;
}
.likes{
    color: var(--color-accent-100);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.dot {
    color: var(--color-gray-800);
    font-size: 1rem;
}

.options {
    background-color: transparent;
    border: none;
    color: var(--color-gray-200);
    font-size: 0.8rem;
    padding-right: 1rem;
    cursor: pointer;
}

.commentHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-bottom: 1px solid var(--color-gray-700);
}

.commentHeaderContainerLeft{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.5rem;
}

.commentHeaderContainerRight{
    display: flex;
    gap: 0.5rem;
}

.DefaultCommentTail{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.button{
    background-color: transparent;
    border: none;
    color: var(--color-gray-200);
    font-size: 0.65rem;
    cursor: pointer;
}

.modal {
    position: absolute;
    background-color: var(--color-gray-875);
    border-radius: 0.5rem;
    right: 0.25rem;
    z-index: 999;

}
.modal button{
    margin: 0.25rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    font-size: 0.65rem;
    z-index: 1000;
    background-color: transparent;
    align-items: center;
    border: none;
}
.modal button:hover{
    background-color: var(--color-gray-700);
    border-radius: 0.2rem;
    cursor: pointer;
}

.updateEditorDefault{}
.editorContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--color-gray-850);;
}

.editorContainer > :first-child{
    flex:1;
}

.editorContainer > :nth-child{
    flex:0;
}

.editorContainerButton{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0.3rem 0.2rem;
}

.editorContainerButton > :first-child{
    flex: 1;
}
.editorContainerButton > :nth-child{
    flex: 0;
}

.submitCommentContainer{
    margin : 0 0.5rem;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}

.DefaultCommentRootContainer{
    margin: 1rem 0.5rem 1rem 0;
}

.spaceBetween{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
}

.commentPageButtons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.commentPageDiv{
    padding: 0.2rem 0.5rem;
    background-color: var(--color-gray-600);
    border-radius: 0.2rem;
}

.commentPageButton{
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.commentPageButton:hover{
    color: var(--color-gray-300);
    background-color: var(--color-gray-800);
}

.commentPageInput{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.commentPageInput input{
    width: 4rem;
    text-align: center;
}

.buttonApply{
    width: 4rem;
    margin: 0.2rem;
    background-color: var(--color-accent-100);
    border-radius: 0.2rem;
    color: var(--color-gray-100);
    text-align: center;
}

.buttonApply:hover{
    background-color: var(--color-accent-000);
}

.buttonApply:active{
    background-color: var(--color-accent-200);
    color: var(--color-gray-200);
}

.buttonCancel{
    width: 4rem;
    margin: 0.2rem;
    background-color: var(--color-red-500);
    border : 1px solid var(--color-red-500);
    border-radius: 0.2rem;
    color : var(--color-gray-100)
}

.buttonCancel:hover{
    background-color: var(--color-red-400);
    border : 1px solid var(--color-red-400);
    color : var(--color-gray-000)
}

.buttonCancel:active{
    background-color: var(--color-red-600);
    border : 1px solid var(--color-red-600);
    color : var(--color-gray-200)
}
