.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-accent-100);
    font-weight: bold;
}

.container > div:first-child {
    height: var(--height-first-header);
}

.subContainer{
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #0E7A80;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 20%) inset;
}
.subContainer > div{
    display: flex;
    margin: 0 10rem;
    justify-content: space-between;
}

.container1{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.headerTitleContainer {
    display: flex;
    font-family: GangwonEduPowerExtraBoldA, serif;
    align-items: center;
}

.headerMainLeft{
    display: flex;
    flex-direction: row;
}

.headerTitle {
    position: relative;
    font-size: 3rem;
}

.headerSmall {
    font-size: 0.7rem;
    padding-top: 1.5rem;
}
