.list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
}

.list li {
  display: inline;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background: var(--color-accent-100);
  padding: 0.65rem;
}
