.sectionContainer {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  font-family: GangwonEduPowerExtraBoldA, serif;
  font-size: 3rem;
  margin: auto;
  justify-content: center; /* Center the items horizontally */
  text-align: center; /* Center the text within the title */
  transform: translateX(-50%);
}

.small {
  font-size: 0.7rem;
}
