.container {
  display: flex;
  font-family: GangwonEduPowerExtraBoldA, serif;
  align-items: center;
}

.title {
  font-size: 3rem;
  min-width: 8.2rem;
}

.small {
  padding-top: 0.8rem;
  font-size: 0.7rem;
}
