.list {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.list button {
  color: var(--color-gray-000);
  font-weight: bold;
}

.navContainer {
  display: flex;
  align-items: center;
  padding: 0.65rem;
}
