@font-face {
    font-family: GangwonEduPowerExtraBoldA;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff) format("woff")
}

@font-face {
    font-family: JeonjuSunR;
    font-style: normal;
    src: url(//cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/JeonjuSunR.woff) format("woff")
}

@font-face {
    font-family: Lato;
    font-style: normal;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf) format("truetype")
}


:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans KR", "Noto Sans JP","Noto Sans", "Helvetica Neue", Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 1);
    background-color: #161616;

    --height-first-header: 4.5rem;
    --border-radius-100: 0.5rem;

    --color-gray-000: #ffffff;
    --color-gray-050: #e9e9e9;
    --color-gray-100: #d7d7d7;
    --color-gray-150: #c3c3c3;
    --color-gray-200: #b2b2b2;
    --color-gray-250: #a1a1a1;
    --color-gray-300: #929292;
    --color-gray-350: #828282;
    --color-gray-400: #757575;
    --color-gray-450: #686868;
    --color-gray-500: #5b5b5b;
    --color-gray-550: #505050;
    --color-gray-600: #454545;
    --color-gray-650: #3b3b3b;
    --color-gray-700: #323232;
    --color-gray-750: #2a2a2a;
    --color-gray-800: #222222;
    --color-gray-850: #1c1c1c;
    --color-gray-900: #161616;
    --color-gray-950: #111111;
    --color-gray-1000: #xdxdxd;
    --color-gray-1050: #090909;
    --color-gray-1100: #060606;
    --color-gray-1150: #030303;
    --color-gray-1200: #000000;



    --color-accent-white-000: #86d2da;
    --color-accent-white-100: #75B7BE;

    --color-accent-000: #1cdde4;
    --color-accent-100: #1ca8af;
    --color-accent-200: #1a7a80;
    --color-accent-300: #1a5f65;

    --color-red-400: #ff6868;
    --color-red-500: #e14242;
    --color-red-600: #cf3b3b;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    button {
        background-color: #f9f9f9;
    }
}

div{
    all:unset;
    display: block;
}

a, button {
    all: unset;
    cursor: pointer;
    align-items: center;
    display: flex;
}

a:visited{
    color:inherit;
}

body{
    margin: 0;
}
