.h2 {
  font-size: 1.45rem;
  color: var(--color-gray-000);
}

.h2mark{
    color: var(--color-accent-300);
    margin-left: 0.5rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.noticeHead{
    border-top: 0.025rem solid var(--color-gray-550);
}
