.row{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.h2 {
    font-size: 1.45rem;
    color: var(--color-gray-000);
}

.mark{
    color: var(--color-accent-300);
}

.container{
  margin: 0 10rem;
}

.tail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem;
  padding: 0.25rem;
}
