.container {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.background {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
}

.headerLeftAlign{
    margin-bottom: 0.75rem;
}

.categories {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.categorySet{
    width: 100%;
    position: relative;
}

.categoryFixed {
    width: 100%;
    background-color: var(--color-gray-650);
    border: 1px solid var(--color-gray-650);
    border-radius: 0.5rem; /* 적절한 반경으로 조정 */
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.category {
    width: 100%;
    background-color: var(--color-gray-650);
    border: 1px solid var(--color-gray-650);
    border-radius: 0.5rem; /* 적절한 반경으로 조정 */
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.category:hover {
    box-shadow:
            0 0 1px #0ff,
            0 0 2px #0ff,
            0 0 3px #0ff,
            0 0 4px #0ff;
}

.categoryInactive {
    color: var(--color-gray-650);
    background-color: var(--color-gray-900);
    cursor: default;
}

.categoryInactive:hover {
    background-color: var(--color-gray-900);
    box-shadow: none;
}

.categoryList{
    width: calc(100% - 1rem);
    position: absolute;
    right: 0;
    top: 3rem;
    max-height: 30rem;
    overflow: auto;
    background: var(--color-gray-800);
    z-index: 999;
    padding: 0.5rem 0.5rem 0;
    border-radius: 0.5rem;
}

.categoryListItem{
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
}

.categoryListItem:hover{
    background-color: var(--color-gray-700);
}

.vote {
    width: 100%;
    background-color: var(--color-accent-450);
    border: 1px solid var(--color-gray-650);
    border-radius: 0.5rem; /* 적절한 반경으로 조정 */
    padding: 0.5rem 1rem;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 0.75rem;
}

.title {
    width: 100%;
    background-color: transparent;
    border: 0.1rem, solid, var(--color-gray-400);
    border-radius: 0.5rem; /* 적절한 반경으로 조정 */
    padding: 0.75rem;
    box-sizing: border-box;
    margin-bottom: 0.75rem;
}

.body{
    border: 0.1rem, solid, var(--color-gray-400);
    border-radius: 0.5rem; /* 적절한 반경으로 조정 */
    margin-bottom: 0.75rem;
    padding-top:0.25rem
}

.tail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.25rem;
    padding: 0.25rem;
}

.buttonApply{
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: var(--color-accent-300);
    border : 1px solid var(--color-accent-300);
    border-radius: var(--border-radius-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonApply:hover{
    background-color: var(--color-accent-100);
    border : 1px solid var(--color-accent-100);
}

.buttonApply:active{
    background-color: var(--color-accent-300);
    border : 1px solid var(--color-accent-300);

}

.buttonCancel{
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: var(--color-red-350);
    border : 1px solid var(--color-red-350);
    border-radius: var(--border-radius-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCancel:hover{
    background-color: var(--color-red-250);
    border : 1px solid var(--color-red-250);
}

.buttonCancel:active{
    background-color: var(--color-red-600);
    border : 1px solid var(--color-red-600);
}
